*{
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 25px;
}

img {
    width: 100%;
}

.slider-container {
    max-width: 1140px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.slider-container .slide,
.slider-container .slide--hidden {
    display: none;
}

.slider-container .slide-visivel {
    display: block;
}

.titulo-imagem-1 {
    position: absolute;
    width: 25%;
    left: 150px;
    top: 40px;
    background-color: white;
    padding: 55px;
    border-radius: 15px;
}


.titulo-imagem-2 {
    position: absolute;
    width: 25%;
    left: 150px;
    top: 40px;
    background-color: white;
    padding: 55px;
    border-radius: 15px;
}

.titulo-imagem-3 {
    position: absolute;
    width: 25%;
    left: 150px;
    top: 40px;
    background-color: white;
    padding: 55px;
    border-radius: 15px;
}

.titulo-imagem-4 {
    position: absolute;
    width: 25%;
    left: 150px;
    top: 40px;
    background-color: white;
    padding: 55px;
    border-radius: 15px;
}

button {
    border: none;
    background-color: white;
    color: red;
    font-size: 30px;
}

.botao-1 {
    color: #C50000;
}

.botao-2 {
    color: #D9DD10 ;
}

.botao-3 {
    color: #A63A17;
}

.botao-4 {
    color: #10ACDD;
}

.slider-container .setas-slider {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
}

.gliderPrev {
    position:relative;
    width: 5%;
    background-color: black;
    transform: scaleX(-1);
}

.gliderNext {
    position: relative;
    width: 5%;    
    background-color: black;
}

.opacidade {
    opacity: 10%;
}

